/* You can add global styles to this file, and also import other style files */
@import "./../../questionset-editor-library/src/lib/components/asset-browser/asset-browser.component.scss";
@import "./../../questionset-editor-library/src/lib/components/assign-page-number/assign-page-number.component.scss";
@import "./../../questionset-editor-library/src/lib/components/ckeditor-tool/ckeditor-tool.component.scss";
@import "./../../questionset-editor-library/src/lib/components/collection-icon/collection-icon.component.scss";
@import "./../../questionset-editor-library/src/lib/components/editor/editor.component.scss";
@import "./../../questionset-editor-library/src/lib/components/fancy-tree/fancy-tree.component.scss";
@import "./../../questionset-editor-library/src/lib/components/header/header.component.scss";
@import "./../../questionset-editor-library/src/lib/components/meta-form/meta-form.component.scss";
@import "./../../questionset-editor-library/src/lib/components/options/options.component.scss";
@import "./../../questionset-editor-library/src/lib/components/progress-status/progress-status.component.scss";
@import "./../../questionset-editor-library/src/lib/components/publish-checklist/publish-checklist.component.scss";
@import "./../../questionset-editor-library/src/lib/components/quality-params-modal/quality-params-modal.component.css";
@import "./../../questionset-editor-library/src/lib/components/question-option-sub-menu/question-option-sub-menu.component.css";
@import "./../../questionset-editor-library/src/lib/components/question/question.component.scss";
@import "./../../questionset-editor-library/src/lib/components/quml-player/quml-player.component.scss";
@import "./../../questionset-editor-library/src/lib/components/qumlplayer-page/qumlplayer-page.component.scss";
@import "./../../questionset-editor-library/src/lib/components/slider/slider.component.scss";
@import "./../../questionset-editor-library/src/lib/components/template/template.component.scss";
@import "./../../questionset-editor-library/src/lib/components/translations/translations.component.scss";

